@import "../variables.module.scss";
.rights{
    width: 100%;
    background: rgba(12, 48, 57, 0.84);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 18px;
    padding-bottom: 18px;
    backdrop-filter: blur(16px);
    z-index: 1;
    @extend .container;
    span{
        color: $LightGrey;
        a{
            margin-left: 5px;
            &:hover{
                color: $LightBrown;
            }
        }
    }
}