@import "../variables.module.scss";
.rights{
    width: 100%;
    background-color: $DarkBlue;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    @extend .container;
    span{
        color: $LightGrey;
        a{
            margin-left: 5px;
            &:hover{
                color: $Brown;
            }
        }
    }
}