@import "../variables.module.scss";
.categories{
    display: flex;
    justify-content: flex-end;
    min-height: 637px;
    @extend .container;
    select{
        position: sticky;
        top: 90px;
        width: 25%;
        height: 50px;
        margin-top: 78px;
        background-color: $DarkBlue;
        color: $LightGrey;
        font-size: 20px;
        padding-left: 50px;
        justify-content: center;
        cursor: pointer;
    }
    .content{
        padding-left: 50px;
        width: 75%;
    .categoriesBooks{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        color: $Brown;
        padding: 0;
        justify-content:baseline;
        .categoriesTitle{
            display: flex;
            overflow: hidden;
            justify-content: center;
            width: 100%;
            //margin-top: 35px;
            .icon{
                color: $DarkBlue;
                width: 15px;
                margin-top: -25px;
            }
            h2{
                color: $Brown;
                font-size: 40px;
                margin: 0;
               // @extend .title;
            }
        }
        li{
        width:23%;
        }
    }
}
}
@media (max-width: 1250px) and (min-width: 993px) {
    .categories{
        select{
            margin-top: 75px;
        }
        .content{
        .categoriesBooks{
            li{
            width:31%;
            }
        }
        .categoriesAuthors{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            width: 100%;
            justify-content: baseline;
            border-top: 1px solid $DarkBlue;
            padding: 0;
            li{
            padding: 10px 0;
            border-radius: 10px;
            width:19.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 100px !important;
                height: 100px !important;
                border-radius: 50%;
            }
            h3{
                color: $Brown;
                font-size: 13px;
            }
            }
        }
    }
    }
}
@media (max-width: 992px) and (min-width: 769px) {
    .categories{    
        select{
            margin-top: 70px;
            font-size: 20px;
            padding-left: 30px;
        }
        .content{
        .categoriesBooks{
            li{
            width:45% !important;
            }
        }
    }
    }
}
@media (max-width: 768px) and (min-width: 701px) {
    .categories{     
        select{
            margin-top: 70px;
            font-size: 20px;
            padding-left: 50px;
        }
        .content{
        .categoriesBooks{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            color: $Brown;
            padding: 0;
            justify-content:baseline;
           li{
            width: 47% !important;
           }

        }
    }
    }
}
@media (max-width: 700px) {
    .categories{     
        select{
            margin-top: 70px;
            font-size: 20px;
            padding-left: 5px;
        }
        .content{
        .categoriesBooks{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            color: $Brown;
            padding: 0;
            justify-content:baseline;
            li{
                width: 90% !important;
            }
        }
    }
    }
}
// @media (max-width: 600px){
//     .categories{
//         .categoriesTitle{
//             .icon{
//                 width: 10px;
//             }
//             h2{
//                 font-size: 30px;
//             }
//         }
//         .categoriesBooks{
//             li{
//             width:46%;
//             margin: 0 4% 4% 0 ;
//             .bookmark{
//                 right: 20px;
//                 top: -5px;
//                 width: 30px;
//                 .heartIcon{
//                     width: 15px;
//                     transform: translate(7px,12px);
//                 }
//             }
//             .bookFooter{
//                 .bookIntro{
//                     h2{
//                         margin: 0;
//                         padding: 0;
//                         font-size: 17px;
//                     }
//                     span{
//                         margin-bottom: 10px;
//                         font-size: 13px;
//                         font-weight: bold;
//                     }
//                 }
//                 .bookPrice{
//                     h3{
//                         font-size: 20px;
//                     }
//                     button{
//                         background-color: $DarkBlue;
//                         padding: 3px 30px;
//                         cursor: pointer;
//                         outline: none;
//                         font-size: 15px;
//                         color: $LightGrey;
//                         border: none;
//                     }
//                 }    
//             }
//             }
//         }
//         .categoriesAuthors{
//             width: 95%;
//             li{
//                 padding: 15px 0;
//                 width: 33%;
//             &:first-child{
//                 display: none;
//             }
//             img{
//                 width: 100px !important;
//                 height: 100px !important;
//             }
//             h3{
//                 font-size: 15px;
//                 font-weight: bold;
//             }
//             }
//         }
//     }
// }
