@import "../variables.module.scss";
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 637px;
    @extend .container;
    .cartTitle{
        display: flex;
        overflow: hidden;
        justify-content: center;
        width: 100%;
        margin-top: 35px;
        .icon{
            color: $DarkBlue;
            width: 15px;
            margin-top: -25px;
        }
        h2{
            color: $Brown;
            font-size: 40px;
            margin: 0;
            @extend .title;
        }
    }
    .checkOut{
        display: flex;
        width: 100%;
        justify-content: center;
        .bill{
            display: flex;
            flex-direction: column;
            padding-left: 50px;
            width: 500px;
            height: 500px;
            .voucher{
                background-color: white;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 5px;
                h4{
                    margin:10px 0;
                    color: $Brown;
                }
                input{
                    height: 30px;
                    border-color: $Brown;
                    width: 79%;
                    margin-right: 1%;
                    border-radius: 5px;
                }
                button{
                    width: 20%;
                    padding: 8px 0;
                    background-color: $DarkBlue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor:pointer;
                }
            }
            .moreBooks{
                background-color: white;
                border-radius: 5px;
                display: flex;
                margin-bottom: 10px;
                cursor: pointer;
                padding: 5px;
                .circlePlusIcon{
                    width: 20px;
                    color: $Brown;
                    margin-right: 10px;
                }
                h3{
                    margin-right: 200px;
                }
                .angleRightIcon{
                    width: 15px;
                }
            }
            .totalPrice{
                background-color: white;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 0 10px;
            }
            .buy{
                width: 100%;
                padding: 15px;
                background-color: $DarkBlue;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .cartBooks{
            .noDataToShow{
                margin-top: -30px;
                width: 70%;
                height: 100%;
                background-color: $Blue;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                .cartIcon{
                    width: 40%;
                    columns: $Brown;
                    
                }
                h2{
                    font-size: 30px;
                }
            }
            display: flex;
            flex-direction: column;
            list-style: none;
            color: $Brown;
            padding: 0;
            width: 70%;
            li{
            display: flex;
            border-radius: 10px;
            width:100%;
            height: 150px;
            margin-bottom: 5px;
            .bookFooter{
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width:90%; 
                .bookIntro{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2{
                        margin: 0;
                        padding: 0;
                        font-size: 25px;
                    }
                    span{
                        margin-bottom: 10px;
                        font-weight: bold;
                    }
                }
                .bookPrice{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3{
                        color: $Brown;
                        margin: 0;
                        padding: 0;
                        font-size: 40px;
                    }
                    .quantity{
                        display: flex;
                        button{
                            background-color: $DarkBlue;
                            padding: 0px 15px;
                            cursor: pointer;
                            outline: none;
                            //font-size: 20px;
                            color: $LightGrey;
                            border: none;
                        }
                        h5{
                            font-size: 20px;
                            margin:0 15px;
                        }
                    }                 
                }    
            }
            }
        }
    }
}
@media (max-width: 1200px) and (min-width: 993px) {
    .cart{
        .cartTitle{
            .icon{

            }
            h2{

            }
        }
        .checkOut{
            display: flex;
            width: 100%;
            justify-content: center;
            .bill{
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                width: 500px;
                height: 500px;
                .voucher{
                    background-color: white;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 5px;
                    h4{
                        margin:10px 0;
                        color: $Brown;
                    }
                    input{
                        height: 30px;
                        border-color: $Brown;
                        width: 79%;
                        margin-right: 1%;
                        border-radius: 5px;
                    }
                    button{

                    }
                }
                .moreBooks{

                    .circlePlusIcon{

                    }
                    h3{
                        margin-right: 110px;
                    }
                    .angleRightIcon{
                    }
                }
                .totalPrice{
                    background-color: white;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 0 10px;
                }
                .buy{
                    width: 100%;
                    padding: 15px;
                    background-color: $DarkBlue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .cartBooks{
                display: flex;
                flex-direction: column;
                list-style: none;
                color: $Brown;
                padding: 0;
                width: 70%;
                .noDataToShow{
                    margin-top: 0px;
                    width: 70%;
                    height: 70%;
                }
                li{
                display: flex;
                border-radius: 10px;
                width:100%;
                height: 150px;
                margin-bottom: 5px;
                .bookFooter{
 
                    .bookIntro{

                        h2{
                            margin: 0;
                            padding: 0;
                            font-size: 20px;
                        }
                        span{
                            margin-bottom: 10px;
                            font-weight: bold;
                        }
                    }
                    .bookPrice{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3{
                            color: $Brown;
                            margin: 0;
                            padding: 0;
                            font-size: 30px;
                        }
                        .quantity{
                            button{
                                padding: 0px 10px;
                            }
                            h5{
                                font-size: 20px;
                                margin:0 15px;
                            }
                        }                 
                    }    
                }
                }
            }
        }
    }
}
@media (max-width: 992px) and (min-width: 769px) {
    .cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 12px;
        .cartTitle{
            display: flex;
            overflow: hidden;
            justify-content: center;
            width: 100%;
            margin-top: 35px;
            .icon{
                color: $DarkBlue;
                width: 15px;
                margin-top: -25px;
            }
            h2{
                color: $Brown;
                font-size: 40px;
                margin: 0;
            }
        }
        .checkOut{
            display: flex;
            flex-direction: column;
            width: 100%;
            .bill{
                padding: 0;
                width: 100%;
                .voucher{
                    h4{
                    }
                    input{            
                    }
                    button{
                    }
                }
                .moreBooks{
                    .circlePlusIcon{
                    }
                    h3{
                        margin-right: 65%;
                    }
                    .angleRightIcon{
                    }
                }
                .totalPrice{
                    font-size: 20px;
                }
                .buy{
                }
            }
            .cartBooks{
                width: 100%;
                align-items: center;
                .noDataToShow{
                    margin-top: 0px;
                    width: 50%;
                    height: 100%;
                    padding: 50px;
                    border-radius: 10%;
                    .cartIcon{
                        width: 30%;
                        columns: $Brown;
                        
                    }
                    h2{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) and (min-width: 701px) {
    .cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 12px;
        .cartTitle{
            display: flex;
            overflow: hidden;
            justify-content: center;
            width: 100%;
            margin-top: 35px;
            .icon{
                color: $DarkBlue;
                width: 15px;
                margin-top: -25px;
            }
            h2{
                color: $Brown;
                font-size: 40px;
                margin: 0;
            }
        }
        .checkOut{
            display: flex;
            flex-direction: column;
            width: 100%;
            .bill{
                padding: 0;
                width: 100%;
                .moreBooks{
                    h3{
                        margin-right: 50%;
                    }
                }
                .totalPrice{
                    font-size: 20px;
                }
            }
            .cartBooks{
                width: 100%;
                align-items: center;
                .noDataToShow{
                    margin-top: 0px;
                    width: 50%;
                    height: 100%;
                    padding: 50px 0;
                    border-radius: 10%;
                    .cartIcon{
                        width: 30%;
                        columns: $Brown;
                        
                    }
                    h2{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .cart{
        margin: 0;
        .cartTitle{
            .icon{
                color: $DarkBlue;
                width: 15px;
                margin-top: -25px;
            }
            h2{
                color: $Brown;
                font-size: 40px;
                margin: 0;
            }
        }
        .checkOut{
            display: flex;
            flex-direction: column;
            width: 100%;
            .bill{
                padding: 0;
                width: 100%;
                .moreBooks{         
                    h3{
                        margin-right: 55%;
                    }
                }
                .totalPrice{
                    font-size: 20px;
                }
                .buy{
                }
            }
            .cartBooks{
                width: 100%;
                align-items: center;
                .noDataToShow{
                    margin-top: 0px;
                    width: 70%;
                    height: 100%;
                    padding: 50px 0;
                    border-radius: 10%;
                    .cartIcon{
                        width: 30%;
                        columns: $Brown;
                        
                    }
                    h2{
                        font-size: 30px;
                    }
                }             
                li{                   
                .bookFooter{
                display: flex;
                flex-direction: column;
                    .bookPrice{
                        h3{ 
                            font-size: 30px;    
                        }               
                    }    
                }
                }
            }
        }
    }
}
@media (max-width: 600px){
    .cart{
        .checkOut{        
            .bill{
                .moreBooks{
                    .circlePlusIcon{
                    }
                    h3{
                        margin-right: 50%;
                    }
                    .angleRightIcon{
                    }
                }
                .totalPrice{
                    font-size: 20px;
                }
            }
            .cartBooks{
                width: 100%;
                li{
                .bookFooter{
                    display: flex;
                    flex-direction: column;
                    .bookPrice{
                        h3{  
                            font-size: 35px;    
                        }             
                    }    
                }
                }
            }
        }
    }
}
